{
  "plugins": ["prettier-plugin-java", "prettier-plugin-organize-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}
